 <h2> Add A New Book</h2>
<div role="form">
    <%= form_for @book do |b| %>

      <div class="form-group">
          <%= b.label :name %><br>
          <%= b.text_field :name , class:'form-control' %>
        </div>
        <div class="form-group">
            <%= b.label :description %><br>
            <%= b.text_area :description , class:'form-control' %>
         </div>
       <div class="form-group">
         <%= b.label :published_at %><br>
         <%= b.text_field :published_at , class:'form-control' %>
       </div>
         <div class="form-group">
             <%= b.label :publisher %><br>
             <%= b.text_field :publisher , class:'form-control' %>
           </div>
      <div class="form-group">
        <%= b.select :category_id, @categories %>
      </div>
       
     <br> <br>

         <div class="form-group">
           <%= b.submit :Save , class:'btn btn-primary'%>
         </div>
    <% end %>
</div>
  <%= link_to "Go Back to Booklist", books_path%>