<% @books.each do |b|%>



	<div class="row">

			<div class="book_border">

				<div class="col-md-8 ">
					<div class="row">
						<h4>	<%=link_to b.name, book_path(b) %> </h4>
					    
					    <b>Description :</b>  <%= b.description%><br>
					    <b>Publisher :</b>  <%= b.publisher%>
					    <b>Publish Date:</b>  <%= b.published_at%><br>
					</div>
					<div class="row" >
					    <%= link_to "Edit", edit_book_path(b)%>
					    <%= link_to "Delete", book_path(b), method: :delete %><br><br>
				    </div>
			    </div>
			</div>
	</div>
<% end %>